@charset "UTF-8";

 /* TODAS AS MÍDIAS */

 /* TYPICAL DEVICE BRAKPOINTS 
 
PEQUENAS TELAS => até 600px
CELULAR => 600px - 767px
TABLET = > 768px - 992px
PC => 992px - 1200px
TV => 1200px ou mais 

 */

 @media print{
    *{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
    }
    main{
        border: 2px solid black;
    }
    main > h1{
        text-shadow: none;
        color: black;
    }
    main::after{
        content: 'Impressão feita em xx/xx/xxxx às xx:xx:xx';
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
 }

/* CELULAR => NÃO PRECISAMOS FAZER POR CAUSA DO MOBILE FIRST */


/* TABLET */
 @media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
 }

/* DESKTOP */
 @media screen and (min-width: 992px) and (max-width: 1199px) {
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
 }
/* TELAS GRANDES */
 @media screen and (min-width: 1200px) {
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    main{
        width: 700px;
    }
 }

