@charset "UTF-8";

@font-face {
    font-family: "idroid" ;
    src: url('fontes/idroid.otf')format('opentype');
}

body{
    margin: 0px;
}

/* ......... CABEÇALHO DO SITE ......... */

header{
    background-image: linear-gradient(to top,#1A5C38, #3BD27F);
    padding: 20px;
    margin: 0px;
}
.tituloheader{
    text-align: center;
    color: white;
}
.paragrafoheader{
    text-align: center;
    font-size: 2em;
    color: white;
}
nav>a{
    color: white;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
}
nav>a:hover{
    text-decoration: underline;
}

/* ......... CORPO DO SITE ......... */

main{
    background-color: #84E0AD;
}

section{
    background-color: white;
    margin:0px 200px 0px 200px;
    padding: 15px;
}

.titulo1main{
    text-align: center;
    margin: 0px;
    font-family:idroid ;
    color: #1A5C38;
}

.titulo2main{
    text-align: left;
    font-family: idroid;
    background-image: linear-gradient(to right,#3BD27F, white);
    color: #1A5C38;
}

p{
    text-align: justify;
    text-indent: 32px;
    font-size: 1.3em;
}

.midia{
    text-align: center;
}

.video{
    background-color: #1A5C38;
    text-align: center;
    padding: 20px 0px;
}

.tituloquadro{
    font-size: 1.3em;
    background-color: #138346;
    margin: 0px;
}

#d1{
    display: inline-block;
    background-color: #84E0AD;
    border: 1px black; 
    text-align: center;
    height: 250px;
    width: 450px;
    padding: 0px;
}
#d2{
    display: inline-block;
    background-color: #84E0AD;
    border: 1px black; 
    text-align: center;
    height: 250px;
    width: 450px;
    padding: 0px;
}

.lista{
    text-align: left;
    font-size: 1.3em;
    text-decoration: underline;
}

#quadro{
    background-color: #84E0AD;
    margin: 10px 0px 0px 0px;
    padding: 0px 5px 1px 5px;
    border-radius: 25px;
    
}

/* ......... RODAPÉ DO SITE ......... */

#footer{
    background-color: #1A5C38;
    margin: 0px;
    color: white;
    text-align: center;
    padding: 3px;
}

#footer>a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}